*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --bg-color: #000000;
  --font-color: #ffffff;
  --main-button-color: #7E22CD;

  --header-height: 3.5rem;
  --image-max-width: 50rem;
}

body{
  background: var(--bg-color);
  color: var(--font-color);
  font-family: sans-serif;
}

ul{
  list-style-type: none;
}

/* header */
.header{
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  position: fixed;
  width: 100%;
  height: var(--header-height);
}

.header #logo{
  margin-right: auto;
  font-weight: 700;
}

/* menu burger */
.menu{
  display: flex;/* media query - none */
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
}
/*  */

.header ul.hide-on-desktop{
  background-color: var(--bg-color);
  display: flex;/* media query - none */
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  top: -100%;/* toggle in js */
  gap: 2rem;
  padding: 1rem;
}

.header ul.hide-on-mobile{
  display: none;/* media query - flex */
}

.header ul li a{
  text-decoration: none;
  color: var(--font-color);
  padding: 1rem;
}

.header ul li a:hover{
  border-bottom: 1px solid var(--font-color);
}

.content{
  padding: 1rem;
}

main, section{
  padding-top: var(--header-height);
 
}

/* main */
main{
  height: 100%;
  text-align: center;
  max-width: 700px;
  display: flex;
  margin: 0 auto;
}

.hero-text h2{
  font-size: 2.2rem;
  line-height: 3rem;
  margin-bottom: 2.5rem;
  padding: .4rem 2rem;
}

.hero-text p{
  text-indent: .3rem;
  padding: 0 1rem;
  line-height: 1.4rem;
  margin-bottom: 3.2rem;
}

.hero-cta{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 .5rem;
  margin: 0 auto;
  gap: .8rem;
}

.hero-cta button{
  border-radius: .4rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--font-color);
  margin-bottom: 3rem;
  cursor: pointer;
  padding: 0.8rem 1.1rem;

}

.get-started{
  background-color: var(--main-button-color);
  border: 2px solid var(--main-button-color);

}

.learn-more{
  background-color: var(--bg-color);
  border: 2px solid var(--main-button-color);
}

.hero-image{
  margin: 0 auto;
  height: auto;
  max-width: var(--image-max-width);
  object-fit: contain;
}

.hero-image img{
  width: 100%;
}

section h2{
  margin-bottom: 2rem;
  text-align: center;
}

/* key benefits section */
.key-benefits-section{
  text-align: center;
}

.benefits-container{
  max-width: 820px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 2rem;
}

.benefits-container .details{
  height: 28rem;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-bottom: 3px solid var(--font-color);
  border-top: 3px solid var(--font-color);
  border-radius: 0.8rem;
  gap: 1rem
}

.icon{
  height: 47%;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details p:nth-of-type(1){
  font-size: 1.2rem;

}

.details p:nth-of-type(2){
  text-indent: -1px;
}

/* features section */
.features-section h2{
  text-align: center;
}

.features-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto;
}

.features{
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 1rem;
  display: flex;
  max-width: 400px;
}

.left-feature{
  font-size: 2rem;
  display: flex;
  padding: 2rem
}

.right-feature{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  padding-left: 0;
}

.right-feature p:nth-of-type(1) {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.9);
}

.right-feature p:nth-of-type(2) {
  font-size: .9rem;
  color: rgba(255, 255, 255, 0.7);
}

/* Plugin section */
.plugins-section{
  display: flex;
  flex-direction: column;
}

.plugin-image{
  margin: 0 auto;
  height: auto;
  max-width: var(--image-max-width);
  object-fit: contain;
}

.plugin-image img{
  width: 100%;
}

.plugins-section h2{
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.plugin-details-container{
  display: flex;
  flex-direction: column;
}

.plugin-details{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.plugin-details p:nth-of-type(1){
  font-size: 1.2rem;
  font-weight: 700;
}

.plugin-details p:nth-of-type(2){
  font-size: 0.9rem;
}

/* Good-hands section */
.good-hands-section h2{
  text-align: center;
  margin: 3rem auto;
}

.testimonial-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 2rem;
}

.testimonial{
  width: 100%;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: .2rem;
  padding: 2rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.top-testimonial{
  padding-right: 1rem;
}

.bottom-testimonial{
  display: flex;
  width: 100%;
}

.bottom-left .image{
  border: 1px solid white;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  margin-right: 0.5rem;
}

/* Pricing section */
.pricing-section h2{
  text-align: center;
  margin: 2rem 0;
}

.pricing-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 0 auto;
}

.pricing{
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.pricing .price{
  font-size: 1.5rem;
}

.pricing .price p span{
  font-size: 3rem;
  font-weight: 700;
}

.pricing .items ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pricing .button button{
  width: 80%;
  padding: 0.7rem;
  font-size: 1rem;
  background-color: var(--main-button-color);
  color: var(--font-color);
  border: none;
  border-radius: .2rem;
}

.pricing:nth-of-type(2){
  border: 2px solid var(--main-button-color);
}

/* Article section */
.article-section h2{
  text-align: center;
  margin-top: 3.5rem;
}

.article-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 2rem;
}

.article{
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3.5rem;
  margin: 0 auto;
  gap: 2rem;

}

.article .article-image{
  margin: 0 auto;
  height: auto;
  object-fit: contain;
}

.article .article-image img{
  width: 100%;
}

.article .article-title{
  font-size: 1.3rem;
  font-weight: 700;
}

.article-button{
  cursor: pointer;
}

/* Faq section */
.faq-section h2{
  text-align: center;
}

.faq-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.faq{
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}

.faq details{
  color: rgba(255, 255, 255, 0.7);
}

.faq summary{
  font-size: 1.1rem;
  color: var(--font-color);
}

.faq details:open summary{
  color: var(--main-button-color);
}

.faq-container button{
  padding: 1rem;
  width: 10rem;
  max-width: 10rem;
  border: 1px solid var(--font-color);
  background-color: var(--bg-color);
  color: var(--font-color);
  margin: 0 auto 2rem auto;
  font-size: 1.1rem;
  border-radius: 1rem;
}

.newsletter{
  max-width: 900px;;
  border: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;/* media query - space-between */
  margin: 0 auto;
  padding: 2rem;
  gap: 1rem;
}

.top-newsletter{
  display: flex;
  flex-direction: column;
}

.top-newsletter p:nth-of-type(1){
  font-size: 2rem;
}

.bottom-newsletter{
  display: flex;
  gap: 1rem;
}

.bottom-newsletter input{
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--bg-color);
  color: var(--font-color);
  border-radius: .5rem;
}

.bottom-newsletter input[type='email']{
  width: 60%;
  border: 2px solid rgba(255, 255, 255, 0.15);
  outline: none;
}

.bottom-newsletter input[type='email']:focus{
  border: none;
  border: 2px solid var(--main-button-color);

}

.bottom-newsletter input[type='button']{
  border: 1px solid var(--font-color);
}

/* footer */
footer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding: 5rem;
  gap: 3rem;
}

.personal-details{
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.personal-details .logo{
  width: 100%;
  height: 10rem;
  border: 1px solid var(--font-color);
}

.personal-details .social-icons{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

.personal-details .social-icons div{
  border: 1px solid white;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company{
  max-width: 300px;
}

.resources{
  max-width: 300px;
}

footer h3{
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

footer ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer li{
  font-size: 1rem;
  cursor: pointer;
}

footer li:hover{
  text-decoration: underline;
}

@media screen and (min-width: 630px) {
  .header{
    padding: 0 3rem;
  }

  .menu{
    display: none;
  }

  .header ul.hide-on-desktop{
    display: none;
    top: -100%;
    background-color: red;
  }

  .header ul.hide-on-mobile{
    display: flex;
  }
}

@media screen and (min-width: 675px) {
  .newsletter{
  justify-content: space-between;

  }
}

@media screen and (min-width: 700px) {
  .hero-text h2{
    font-size: calc(2.2rem + 1vw);
    line-height: calc(3rem + 1vw);
  }

  .hero-text p{
    padding: 0 5rem;
  }
}

@media screen and (min-width: 1200px) {
  .plugin1, .plugin2{
  max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 3rem;
  } 

}